<a href="#main-content" class="skip-to-main-link">{{lang 'header.skip_to_main'}}</a>
<style>
    .banners {
    background: #009579;
    }
    .banner__content {
    padding: 8px;
    width: 100%;
    margin: 0 0;
    display: block;
    align-items: center;
    overflow: auto;
    }

    .banner__text {
    flex-grow: 1;
    line-height: 1.4;
    }

    .banner__close {
    background: none;
    border: none;
    cursor: pointer;
    }

    .banner__text,
    .banner__close > span {
    color: #ffffff;
    }
</style>
{{#if customer}}
<div class="banners">
    <div class="banner__content">
    <div class="banner__text">
        {{customer.name}} <br />
        {{customer.email}} <br />
        {{customer.shipping_address.address1}}
    </div>
    </div>
</div>
{{/if}}
{{#if banners.top}}
<div class="banners" data-banner-location="top">
    {{#each (limit banners.top_metadata 1)}}
    <div class="banner" data-event-type="promotion" data-entity-id="{{this.id}}" data-name="{{this.banner-name}}" data-position="{{this.location}}" data-banner-id="{{this.banner-name}}">
        <div data-event-type="promotion-click">
            {{{this.content}}}
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
<header class="header" role="banner">
    <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
        <span class="mobileMenu-toggleIcon">Toggle menu</span>
    </a>
    {{> components/common/navigation}}

    {{#if page_type '===' 'default'}}
        <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </h1>
    {{else}}
        <div class="header-logo header-logo--{{theme_settings.logo-position}}">
            {{> components/common/store-logo}}
        </div>
    {{/if}}
    <div class="navPages-container" id="menu" data-menu>
        {{> components/common/navigation-menu}}
    </div>
    {{{region name="header_navigation_bottom--global"}}}
</header>
{{{region name="header_bottom--global"}}}
{{{region name="header_bottom"}}}
